#rating 
{
  margin-left: 10px;
}
.card-body h2
{
  text-transform: uppercase;
}
.card-body img {
  width: 250px;
  height: 250px;
}
.card {
  margin-bottom:-70px !important;
} 
.btn {
  margin-right: 10px;
}
